<% content_for :main do %>
  Cheques recebidos
<table>
  <% for cheque in @cheques do %>
  <tr>
  	<td><%= cheque.bom_para.to_s_br %></td>
    <td><%= cheque.recebimento.paciente.nome %></td>
  </tr>
  <% end %>
</table>
<% end %>