<% content_for :main do %>
 abre paciente<br/>  
<%= @paciente.nome %>


<div id="container_abas">
  <div id= "aba1">
  	Aqui vai o cadsatro
  </div>
  <div id="aba2">
  	Aqui vai o tratamento
  </div>
  <div id="aba3">
  	aqui vai o extrato
  </div>
</div>
<% end %>