<% content_for :main do %>
 Ficha do paciente <b><%= @paciente.nome %></b><br/>  


<div id="tabs">
    <ul>
        <li><a href="#fragment-1"><span>Cadastro</span></a></li>
        <li><a href="#fragment-2"><span>Tratamento</span></a></li>
        <li><a href="#fragment-3"><span>Extrato</span></a></li>
    </ul>
    <div id="fragment-1">
	    <%= render :partial=>"cadastro" , :locals=>{:paciente=>@paciente} %>
        
    </div>
    <div id="fragment-2">
        Tratamento
    </div>
    <div id="fragment-3">
        Extrato
    </div>
</div>
<% end %>