
<% content_for :main do%>
<p>
<%= link_to "novo paciente" , new_paciente_path %>
</p>

  <% form_tag pesquisa_pacientes_path do %>
  Paciente : <%= text_field_tag :nome , params[:nome], :size=>40, :onkeyup=>"conta_caracteres();" %>
<%= submit_tag "pesquisar", :disabled=>true, :id=>"pesquisar_button" %>
  <% end %>


<p>
	Resultado<br/>
	<% @pacientes.each do |paciente| %>
	  <%= link_to paciente.nome, abre_paciente_path(:id=>paciente.id) %><br/>
    <% end %>
</p>
<% end %>