<% content_for :main do%>
<script type="text/javascript">
  $(function() {
      function busca_por_nome(nome){
        window.location = "/pacientes/0/abre?nome=" + nome
      }

      $("#iniciais").autocomplete({
        source: "pesquisa_nomes",
        minLength: 6,
        maxRows: 5,
        select: function(event,ui){
          nome = ui.item.value;
          busca_por_nome(nome);
        }
      });
    });
</script>
  <% form_tag pesquisa_pacientes_path do %>
<table class="transparente">
  <tr>
    <td>Código : </td>
    <td><%= text_field_tag :codigo, params[:codigo], :size=>8, :onblur=>"$('#pesquisar_button').attr('disabled',true); )", :onfocus=>"limpa_nome();" %></td>
  </tr>
  <tr>
    <td>Paciente : </td>
    <!-- ><td><%= hidden_field_tag :nome , params[:nome], :size=>40, :onkeyup=>"conta_caracteres();", :onfocus=>"limpa_codigo();" %></td>-->
    <td>
    <div class="ui-widget">
      <input id="iniciais" size="40" class="ui-autocomplete-input"></div>
    </td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td><%= submit_tag "pesquisar", :disabled=>false, :id=>"pesquisar_button" %></td>
  </tr>
</table>
<br/>
<% end %>


<p>
    <% @pacientes.each do |paciente| %>
      <%= link_to paciente.nome_e_clinica(@administracao), abre_paciente_path(:id=>paciente.id) %><br/>
    <% end %>
</p>
<% end %>