<% content_for :main do %>
<h3>Pacientes for da lista de débito</h3>
<table>
  <tr>
    <th>Nome</th>
    <th>Data de saída da lista</th>
    <th>Motivo da saída</th>
  </tr>
<% @pacientes.each do |pac| %>
  <tr>
    <td><%= pac.nome %></td>
    <td><%= pac.data_da_saida_da_lista_de_debitos.to_s_br %></td>
    <td><%= pac.motivo_sair_da_lista_de_debitos %></td>
  </tr>
<% end %>
</table>

<% end %>