<fieldset class="fieldset_50">
	<%= render :partial=>'datas' %>
	<br/><br/>
	<%= button_to 'pesquisar', "javascript:pagamento_dentista();" %>
</fieldset>
<p>
  <div id="lista_pagamento"></div>
</p>

<%= link_to 'voltar', dentistas_path %>

