<Fieldset class="fieldset_40">
	<legend>Formas de recebimento</legend>
<% ct=0 %>
<table class="transparente">
  <tr>
<% formas.each() do |forma| %>
    <% if ct > 4 %>
      <% ct=0 %>
      </tr><tr>
    <% end %>
	<td><%= check_box_tag "forma_"+forma.id.to_s, forma.id, params["forma_#{forma.id}"] %> <%= forma.nome %></td>
	<% ct += 1 %>
<% end %>
  </tr>
</table>
</fieldset>