<p>
  Cheques utilizados <br/>
  <table>
	<tr>
	  <th width="220px">Paciente</th>
	  <th width="90px">Valor</th>
	  <th width="120px">Banco</th>
	  <th>Número</th>
	</tr>
  <% @pagamento.cheques.each() do |cheque| %>
    <tr>
      <td><%= cheque.nome_dos_pacientes %></td>
      <td align="right"><%= cheque.valor.real %></td>
      <td><%= cheque.banco.numero + "-" + cheque.banco.nome %></td>
      <td><%= cheque.numero %></td>
    </tr>
  <% end %>
  </table>
</p>
