%h4 Cheques Devolvidos
%p
%table{:class=>'tabela'}
  %tr
    %th
      Data 1 devolução
    %th{ :width => "200px" }
      Motivo
    %th{ :width => "70px" }
      Data 2 devolução
  - @paciente.cheques_devolvidos.each do |cheque|
    %tr
      %td= link_to cheque.data_primeira_devolucao, cheque, :target=>:blank
      %td= cheque.motivo_primeira_devolucao
      %td= cheque.data_segunda_devolucao
