#disponiveis
  %fieldset.fieldset_40
    %legend
      Cheques disponíveis
    = button_to "pesquisar", "javascript:pesquisa_disponiveis();" 
    %br
    %span#lista_de_cheques
#selecionados
  %fieldset.fieldset_40
    %legend Cheques utilizados
    %table{:class=>'tabela'}
      %thead
        %tr
          - if @clinica_atual.administracao?
            %th Clínica
          %th Bom para
          %th{:width=>"80px"} Valor
          %th{:width=>"200px"} Paciente
          %th &nbsp;
          %th{:width=>"80px"} Banco
          %th Agência
          %th Número
      %tbody
