<div id="disponiveis" style="display:nonee;">
<fieldset>
  <legend>Cheques disponíveis</legend>
<%= button_to "pesquisar", "javascript:pesquisa_disponiveis();" %><br/>
<span id="lista_de_cheques">
</span>
</fieldset>
</div>
<div id='selecionados'>
  %table{:class=>'tabela'}
    %thead
      %tr
        %th Bom para
        %th Valor
        %th Paciente
        %th &nbsp;
        %th Banco
        %th Agência
        %th Número
    %tbody
</div>