<fieldset>
  <legend>Disponíveis</legend>
<%= button_to "pesquisar", "javascript:pesquisa_disponiveis();" %>
<span id="lista_de_cheques">
</span>
<%= link_to "busca", busca_disponiveis_cheques_path %>
</fieldset>