<div id="disponiveis" style="display:nonee;">
<fieldset>
  <legend>Disponíveis</legend>
<%= button_to "pesquisar", "javascript:pesquisa_disponiveis();" %><br/>
<span id="lista_de_cheques">
</span>
</fieldset>
</div>