<% content_for :main do %>
<fieldset>
<legend>Alterando tratamento</legend>

<div class= 'destaque'>Paciente : <%= @tratamento.paciente.nome %> ( Tabela: <%= @tratamento.paciente.tabela.nome %> )</div><br/>
<%= render :partial=>"form"%>

</fieldset>
<%= link_to "voltar", abre_pacientes_path(:id=>@tratamento.paciente_id) %>
<% end %>