#chave{ :style=>'padding-left: 50em; padding-top: -2em;'}
  = link_to "cadastra a senha", new_senha_path({:controller_name=>params[:controller], :action_name=>params[:action]}), :class => "ui-icon ui-icon-key ", :title=> 'Senha'
  