- if params[:controller] != 'senhas' || params[:action] !='new'
  #corpo_senha
    Senha
    = password_field_tag :senha, '', :size=> 5
    %span
      = link_to "libera", "#", :onclick=>'valida_senha();'